<button (click)="isShowing = !isShowing" >
  <!-- <ng-container *ngIf="!isShowing">Show Books</ng-container>
  <ng-container *ngIf="isShowing">Hide Books</ng-container> -->   <!-- Both Approach are correct ternary is preferable in this.  ng-container make span tag simple btn text-->
  {{isShowing ? 'Hide Books' : 'Show Books'}}
</button> <!-- Property binding useful in this type of embeding like button            [disabled]="hidebooks" -->
<input type="text" [(ngModel)]="myName" > <!--This is two way binding ngModel  is a way for this it updates and show the input and listen the e.target.event -->
<span>{{myName}}</span>
<ul *ngIf="isShowing">
  <!-- <li class="book">
    <img src="{{url}}" alt="{{name}}" width="100">
   <p>{{name}} by {{author}}</p>
    <p>price: {{price}} </p>
  </li> -->
  <!--This one is interpolation -->
  <!-- <li class="book">
    <img [src]="url2" [alt]="name2" width="100">
    <p> {{name2}} by {{author2}}</p>
    <p>price: {{price2}} </p>
  </li> -->
<!--There are two way for embedding  this one is property binding-->
<ng-container *ngFor="let singleBook of BookDetails; let i = index" >

<app-book (bookEmitter)="addToCart($event)" [book] = "singleBook" ></app-book>

</ng-container>

</ul>
